.header {
  display: flex;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: blanchedalmond;
  margin-bottom: 5rem;
  z-index: 1;
}
.header span {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.header span .dropdown {
  position: absolute;
  top: 5rem;
  right: -1rem;
  display: none;
}
.header span .dropdown .dropdown-item {
  background-color: burlywood;
  padding: 1.5rem;
}
.header span:hover .dropdown {
  display: block;
}
.header .avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  z-index: 3;
}
.header .options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .options li {
  padding: 1.5rem;
}
